form {
    width: 100%;
    height: 100%;
    background: #aa42f5;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

form div {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

@media (max-width: 768px) {
    form div {
      flex-direction: column;
      flex: 1;
      align-items: center;
    }

    form input, select, button {
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 2px;
        width: 80px;
        height: 20px;
        margin: 2px;
    }
  }

.submitButton {
    justify-content: center;
}

.mapContainer {
    justify-content: center;
}

form label {
    font-size: 14px;
    font-weight: bold;
}


@media (min-width: 769px) {
    form input, select, button {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 180px;
    }
  }


.leaflet-container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}